.player-container{
    margin-bottom: 50px;
    display: flex;
    /* border: 2px solid green; */
    height: 280px;
    width: 500px;
}
.image{
    /* border: 2px solid red; */
    height: 280px;
    width: 250px;

}
.image img{
    height: 100%;
}